# Ignore folders
archive/*
results/*
output/*

#references/*
src/__pycache__/*
.vscode/*
.ipynb_checkpoints/*
.ve_*/*

# ignore jupyter notebook checkpoint files
*checkpoint.ipynb

# ignore OSX junk
.DS_Store

# test cache
.cache/*
tests/__pycache__/*
*.pytest_cache/

# ignore intermediate files e.g. from microsoft office
~$*

venv
*.pyc
.DS_Store
.env